


@section head {
    <!-- Enlaces a DataTables CSS y jQuery -->
    <link href="~/Content/css/Gestiones/General.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
}

@if (TempData["Mensaje"] != null)
{
    <script>
        $(document).ready(function () {
            $('#NotificacionModal').modal('show');
        });

    </script>
}


@if (TempData["MensajeError"] != null)
{
    <script>
        $(document).ready(function () {
            $('#ErrorModal').modal('show');
        });

    </script>
}

<div class="containerPrincipal">
    <h4>Gestion de clientes</h4>
    <div class="options-container">
        <button class="btn btn-success" id="CrearCliente"><i class="fa fa-plus"></i> Crear</button>
        <button class="btn btn-warning" id="EditarCliente"><i class="fa fa-edit"></i> Editar</button>
        <button class="btn btn-danger" id="EliminarCliente"><i class="fa fa-trash-alt" data-toggle="modal" data-target="#confirmModal"></i> Eliminar</button>
    </div>

    <div class="table-container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ClienteID</th>
                    <th>Nombre</th>
                    <th>PrimerApellido</th>
                    <th>SegundoApellido</th>
                    <th>CorreoElectronico</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos -->
                @foreach (var personas in ViewBag.respuesta)
                {
                    <tr>
                        <td>@personas.IdPersona</td>
                        <td>@personas.Nombre</td>
                        <td>@personas.PrimerApellido</td>
                        <td>@personas.SegundoApellido</td>
                        <td>@personas.CorreoElectronico</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal confirmacion -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="Eliminar cliente" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar la selección de esta persona?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Notificaicion -->
<div class="modal fade" id="NotificacionModal" tabindex="-1" aria-labelledby="Eliminar cliente" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="mensajeExito">
                    <p><i class="fa fa-check-circle"></i> @TempData["Mensaje"]</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Error -->
<div class="modal fade" id="ErrorModal" tabindex="-1" aria-labelledby="Eliminar cliente" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">excepción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="mensajeExito">
                    <p><i class="fa-solid fa-triangle-exclamation"></i> @TempData["MensajeError"]</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/javaScript/views/Clientes.js"></script>